


<div class="page page-table" data-ng-controller="tableCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Order Entry</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    <form class="form-inline" role="form">
                        <div class="panel-body" data-ng-controller="DatepickerDemoCtrl">
                            <div class="row">
                                    <div class="input-group ui-datepicker">
                                        <input type="text"
                                               class="form-control"
                                               datepicker-popup="{{format}}"
                                               ng-model="dt"
                                               is-open="opened"
                                               min="minDate"
                                               max="'2015-06-22'"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="true"
                                               close-text="Close">
                                        <span class="input-group-addon" ng-click="open($event)"><i class="ti-calendar"></i></span>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="sr-only" for="exampleInputPassword2">Manufacturer</label>-->
                            <!--<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Manufacturer">-->
                            <span class="ui-select">
                                <select >
                                    <option ng-repeat="store in stores">
                                        {{store.name}}
                                    </option>
                                </select>
                            </span>
                        </div>
                        <div class="form-group">
                            <!--<label class="sr-only" for="exampleInputEmail2">Distributor</label>-->
                            <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Distributor">-->
                            <span class="ui-select">
                                <select>
                                    <option ng-repeat="store in stores">
                                        {{store.sales}}
                                    </option>
                                </select>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Amount</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Amount">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">PO Number</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="PO Number">
                        </div>

                        <button type="submit" class="btn btn-info btn-w-md">Submit</button>
                        <span class="space"></span>
                        <label class="ui-switch ui-switch-success">
                            <input type="checkbox" data-ng-click="isCollapsed = !isCollapsed"><i></i>   Add Notes</label>
                            <div class="divider divider-md"></div>
                            <div collapse="!isCollapsed" class="col-sm-10">
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Orders </strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStores.length}}/{{stores.length}} entries
                    </span>
                </div>
                <div class="form-inline" data-ng-controller="invoiceCtrl">
                    <a href="" ng-click="printPage()" class="btn btn-primary btn-sm btn-w-md"><i class="fa fa-print"></i> Print</a>
                </div>
            </div>
        </div>

        <table id="ordersTable" class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th ng-click="sortBy='name';reverse=!reverse"><div class="th"> Date </div></th>
                <th ng-click="sortBy='price';reverse=!reverse"><div class="th"> Vendor </div></th>
                <th ng-click="sortBy='sales';reverse=!reverse"><div class="th"> Distributor </div></th>
                <th ng-click="sortBy='rating';reverse=!reverse"><div class="th"> Amount </div></th>
                <th ng-click="sortBy='rating';reverse=!reverse"><div class="th"> PO Number </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="store in currentPageStores | orderBy: sortBy">
                <td>{{store.name}}</td>
                <td>{{store.price}}</td>
                <td>{{store.sales}}</td>
                <td>{{store.rating}}</td>
                <td>{{store.rating}}</td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>

